@media screen and (min-width: 540px) {
    #view-section-left{background-color:var(--b4);color:var(--background);}
    #view-section-mid{background-color:var(--b2);color:var(--text);}
    #view-section-right{background-color:var(--b1);color:var(--text);}

    #view-section-left{height:100vh;height:100dvh;}
    #view-section-mid{height:100vh;height:100dvh;}
    #view-section-right{height:100vh;height:100dvh;}
}

@media screen and (min-width: 320px) {
    :root{
        --view-left-witdh: 48px;
        --view-mid-witdh: 160px;
        /* --view-right-witdh: 120px; */
    }
    #view{
        display:grid;
        grid-template-columns:var(--view-left-witdh) var(--view-mid-witdh) 1fr;
    }

    #view img.icon{
        width:32px;
        padding:.25rem;
    }
}

/* @media screen and (min-width: 720px) {
    :root{
        --view-left-witdh: 64px;
        --view-mid-witdh: 180px;
    }

    #view-desktop img.icon{
        width:36px;
        padding:.25rem;
    }
} */


@media screen and (min-width: 540px) {
    #view-section-popover{position:absolute;}
    
    #view-section-popover dialog.popover{
        position:fixed;
        margin:auto;
        inset: 0;
    }
    
    /* BUG: BLUR DOESNT WORK IN DESKTOP MODE?*/
    #view-section-popover dialog.popover::backdrop{
        background: rgba(19, 18, 18, 0.479);
        backdrop-filter: blur(3px); 
        -webkit-backdrop-filter: blur(3px);
    }

}

@media screen and (min-width: 540px) {
    #view-section-left{
        padding:1.5rem 0;
    }

    #view-section-left{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-between;
    }

    #view-section-left button{
        background-color:transparent;
    }

    #view-section-left img{
        cursor:pointer;
        border-radius:.5rem;
        transition:background .25s;
    }
    #view-section-left img:hover{
        background-color:var(--b3);
    }

    #view-section-left-top,
    #view-section-left-bot
    {
        display:grid;
        gap:1.5rem;
    }

    #view-section-left .vslt-jaal-text{
        text-align:center;
    }
}


